---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="text-8xl">Welcome to <span class="text-gradient">Astro</span></h1>
		<p>
			<ul>
				<li><a href="/" class="text-green-400">test1</a></li>
				<li><a href="/">test2</a></li>
			</ul>
		</p>
	</main>
</Layout>
